body {
	margin:0;
	color:#666;
	font:12px/15px Arial, Helvetica, sans-serif;
	background:#fff;
	background-repeat: repeat-x;
	
}
#main {	
	width:620px;
	clear:both;
	overflow:hidden;
}
a{
	color:#003399;
}
a:visited{
	color:#0066CC;
}



/*-----content-----*/
#content {
	clear:both;
	width:610px;
	overflow:hidden;
	background:#fff;;
}
/*---big-block---*/
.big-block {
	overflow:hidden;
	width:610px;
}
.big-block .big-block-top {
	overflow:hidden;
	width:100%;
}
.big-block .big-block-bottom {
	overflow:hidden;
	width:610px;
}

/*--big-map-block--*/
.big-map-block {
	float:left;
	width:200px;
}

.big-map-block .filter ul {
	float:left;
	margin:0;
	padding:0 0 5px 6px;
}
.big-map-block .filter ul li {
	float:left;
	padding:0 1px;
	list-style:none;
	font:10px/13px Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}
.big-map-block .filter ul li a {
	float:left;
	color:#996;
	text-decoration:none;
}
.big-map-block .filter ul li a span {
	float:left;
	padding:0 5px;
}
/*.big-map-block .filter ul li a span.active,*/
.big-map-block .filter ul li a.active, 
.big-map-block .filter ul li a:hover {
	background:#3399cc url(../img/filter-item-l.gif) no-repeat;
	color:#fff;
}
.big-map-block .filter ul li a.active span,
.big-map-block .filter ul li a:hover span {background:url(../img/filter-item-r.gif) no-repeat 100% 0;}
.big-map-block .map-holder {
	overflow:hidden;
	border:1px solid #ccc;
	width:380px;
	height:350px;
}
.big-map-block .map-loader {
	top:0;
	position:absolute;
	width:200px;
	height:200px;
	background-color:red;
	display:none;
}
.big-map-block .slider-holder {
	margin-top:10px;
	width:380px;
	height:70px;
	font-size: 70%;
}
.slider-holder form, .slider-holder fieldset {
	border:0;
}
.olControlLoadingPanel {
	background-image:url(../img/loading.gif);
	background-position:center;
	background-repeat:no-repeat;
}
.infowindow{
	padding:10px;
}
.infowindow h2,
.infowindow h3{
	margin:0 0 5px 0;
	padding:0;
	font-size:12px;
	font-weight:bold;
}
.infowindow h2{
	font-size:14px;
}
.infowindow h3{
	font-size:12px;
}
.infowindow a, .infowindow a:visited{
	color:#000;
}
/*--category--*/
.category {
	float:right;
	width:220px;
}
.category .grey-box {
	overflow:hidden;
	width:100%;
	background:#eee url(../img/grey-box-top.gif) no-repeat;
}
.category .grey-box .grey-box-bg {
	overflow:hidden;
	width:100%;
	background:url(../img/grey-box-bottom.gif) no-repeat 0 100%;
}
.category .grey-box ul {
	overflow:hidden;
	width:264px;
	margin:8px 0 0;
	padding:0 0 8px 3px;
}
.category .grey-box ul li {
	float:left;
	width:100%;
	list-style:none;
}
.category .grey-box ul li a {
	float:left;
	
	padding:5px 0 6px 3px;
	width:264px;
	color:#0091c4;
	font:13px Arial, Helvetica, sans-serif;
	text-decoration:none;
}
.category .grey-box ul li a:hover,
.category .grey-box ul li a.active {
	color:#fff;
	background:url(../img/category-item-active.gif) no-repeat;
}
.category .grey-box ul li a span {
	display:block;
	padding:0 0 0 24px;
	float:left;
	cursor:pointer;
}
.category .report-btns {
	overflow:hidden;
	width:100%;
	clear:both;
	padding:18px 0 0;
}
.category .report-btns a {
	float:left;
	color:#fff;
	font:bold 14px/34px Arial, Helvetica, sans-serif;
	text-decoration:none;
}
.category .report-btns a span {
	float:left;
	padding:0 9px 3px;
	cursor:pointer;
}
.category .report-btns a:hover,
.category .report-btns a:hover span {text-decoration:underline;}
.category .report-btns a.btn-red {background:url(../img/red-btn-l.gif) no-repeat;}
.category .report-btns a.btn-red span {background:url(../img/red-btn-r.gif) no-repeat 100% 0;}
.category .report-btns a.btn-grey {
	background:url(../img/grey-btn-l.gif) no-repeat;
	margin-top:5px;
}
.category .report-btns a.btn-grey span {background:url(../img/grey-btn-r.gif) no-repeat 100% 0;}
.category p {
	margin:14px 0 0;
	width:100%;
	text-align:center;
	font:14px/20px Arial, Helvetica, sans-serif;
	color:#666;
}
/*---blocks-holder---*/
.blocks-holder {
	overflow:hidden;
	width:100%;
	padding:18px 0 0;
}
.blocks-holder .incidents,
.blocks-holder .images {float:left;}
.blocks-holder .news,
.blocks-holder .side-block {float:right;}
.blocks-holder .side-block .block-bg {margin:0 0 20px;}
.small-block {width:630px;padding-left:10px;}
.small-block h3 {
	overflow:hidden;
	margin:0 0 -1px;
	padding:0 0 0 26px;
	color:#666;
	font:bold 14px/17px Arial, Helvetica, sans-serif;
}
.small-block h3 span {font-size:10px;}
.small-block ul {
	overflow:hidden;
	width:100%;
	margin:0;
	padding:0 0 10px;
}
.small-block ul li {
	float:left;
	width:100%;
	padding:4px 0;
	list-style:none;
	font:12px Arial, Helvetica, sans-serif;
	border-bottom:1px solid #eee;
}
.small-block ul li:first-child {border:none;}
.small-block ul li.w-01 {
	width:338px;
	padding:0 10px 0 0;
}
.small-block ul li.w-02 {
	width:150px;
	padding:0 10px 0 0;
}
.small-block ul li.w-03 {width:100px;}
.small-block ul li a {
	color:#09c;
	text-decoration:none;
}
.small-block ul li a:hover {text-decoration:underline;}
.small-block ul li ul {padding:0;}
.small-block ul li ul li {
	border:none;
	padding:0;
}
.small-block ul li ul.title li {font:12px Arial, Helvetica, sans-serif;}

/*--incident-name--*/
.incident-name {
	float:left;
	width:430px;
	margin:0 0 20px;
}
.incident-name ul {
	overflow:hidden;
	width:100%;
	margin:12px 0 0;
	padding:0;
}
.incident-name ul li {
	float:left;
	width:100%;
	padding:6px 0;
	list-style:none;
	border-top:1px solid #eee;
}
.incident-name ul li:first-child {border:none;}
.incident-name ul li strong {
	display:block;
	width:100%;
	font:bold 10px/13px Arial, Helvetica, sans-serif;
}
.incident-name ul li p {
	margin:0;
	font:12px/15px Arial, Helvetica, sans-serif;
}
.incident-name ul li p strong.green {
	display:inline;
	color:#339933;
	font:bold 12px/15px Arial, Helvetica, sans-serif;
}
.incident-name ul li p strong.red {
	display:inline;
	color:#CC0000;
	font:bold 12px/15px Arial, Helvetica, sans-serif;
}
.incident-name ul li p a {
	color:#09c;
	text-decoration:none;
}
.incident-name ul li p a:hover {text-decoration:underline;}
/*--incident-map--*/
.incident-map {
	float:right;
	width:430px;
	margin:0 0 20px;
}
.incident-map ul.legend {
	float:right;
	margin:0;
	padding:0 0 5px;
}
.incident-map ul.legend li {
	float:left;
	margin:0 0 0 11px;
	display:inline;
	list-style:none;
	color:#996;
	font:10px/13px Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	padding:0 0 0 16px;
}
.incident-map ul.legend li.ico-red {background:url(../img/ico-red.gif) no-repeat;}
.incident-map ul.legend li.ico-orange {background:url(../img/ico-orange.gif) no-repeat;}
.incident-map .map-holder {
	overflow:hidden;
	clear:both;
	border:1px solid #ccc;
	width:428px;
	height:258px;
}
/*--report-description--*/
.report-description {
	overflow:hidden;
	border:1px solid #cc9;
	clear:both;
	width:878px;
	padding:0 0 30px;
}
.report-description .title {
	overflow:hidden;
	background:#cc9;
	width:100%;
}
.report-description .title h2 {
	float:left;
	margin:0;
	padding:0 0 0 10px;
	font:bold 14px/28px Arial, Helvetica, sans-serif;
}
.report-description .title a {
	float:right;
	margin:7px 10px 0 0;
	display:inline;
	font:10px/13px Arial, Helvetica, sans-serif;
	color:#fff;
	text-decoration:none;
	background:#09c url(../img/lnk-info-l.gif) no-repeat;
	text-transform:uppercase;
}
.report-description .title a:hover,
.report-description .title a:hover  span {text-decoration:underline;}
.report-description .title a span {
	float:left;
	padding:0 4px;
	cursor:pointer;
	background:url(../img/lnk-info-r.gif) no-repeat 100% 0;
}
.report-description .orig-report {
	overflow:hidden;
	border:1px solid #eee;
	width:838px;
	margin:20px 0 -10px 19px;
}
.report-description .orig-report .report {
	overflow:hidden;
	background:#ffc;
	padding:10px;
	width:818px;
}
.report-description .orig-report .report h4 {
	margin:0;
	width:100%;
	clear:both;
	font:bold 12px/17px Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}
.report-description .orig-report .report p {
	margin:0;
	font:12px/17px Arial, Helvetica, sans-serif;
}
.report-description .orig-report .report a.lnk {
	float:left;
	margin:7px 0 0;
	font:10px/13px Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:#fff;
	background:#393 url(../img/green-btn-l.gif) no-repeat;
	text-transform:uppercase;
}
.report-description .orig-report .report a.lnk:hover,
.report-description .orig-report .report a.lnk:hover span {text-decoration:underline;}
.report-description .orig-report .report a.lnk span {
	float:left;
	padding:0 4px;
	cursor:pointer;
	background:url(../img/green-btn-r.gif) no-repeat 100% 0;
}
.report-description .orig-report .discussion {
	overflow:hidden;
	padding:16px 20px 20px;
	width:798px;
}
.report-description .orig-report .discussion h5 {
	margin:0;
	width:100%;
	clear:both;
	font:bold 12px/17px Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}
.discussion h5 a, .discussion h5 a:visited{
	text-transform:none;
}
.report-description .orig-report .discussion .discussion-box {
	overflow:hidden;
	width:778px;
	margin:10px 0 0;
	padding:10px;
	background:#eee;
}
.report-description .orig-report .discussion .discussion-box p {
	margin:0;
	font:12px/17px Arial, Helvetica, sans-serif;
}
.report-description .orig-report .discussion .discussion-box a.lnk {
	float:left;
	margin:7px 0 0;
	font:10px/13px Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:#fff;
	background:#393 url(../img/green-btn-l.gif) no-repeat;
	text-transform:uppercase;
}
.report-description .orig-report .discussion .discussion-box a.lnk:hover,
.report-description .orig-report .discussion .discussion-box a.lnk:hover span {text-decoration:underline;}
.report-description .orig-report .discussion .discussion-box a.lnk span {
	float:left;
	padding:0 4px;
	cursor:pointer;
	background:url(../img/green-btn-r.gif) no-repeat 100% 0;
}

/* report */
.report_left{
	float:left;
	width:400px;
	margin:20px 0 0;
	padding:0 0 10px;
}
.report_right{
	overflow:hidden;
	width:455px;
	margin:20px 0 0 25px;
	padding:0 0 10px;
}
.report_bottom{
	clear:both;
}
.report_row{
	margin:0 0 15px 0;
	clear:both;
}
.report_row h4{
	margin:0 0 5px 0;
	padding:0;
	font-size:120%;
	font-weight:bold;
}
.report_row .date-box{
	float:left;
	margin-right:10px;
}
.report_row .date-box img{
	padding:0 5px 0 5px;
}
.report_row .time{
	float:left;
}
.report_row .optional-info{
	float:left;
	margin-right:10px;
}
.report_category {
	clear:both;
	overflow:hidden;
	font-size:90%;
}
.report_category ul{
	width:50%;
	float:left;
	margin:0;
	padding:0 0 11px;
}
.report_category ul li{
	overflow:hidden;
	list-style:none;
}
.report_category ul li label{
	color:#555;
}
.report_optional{
	padding:15px;
	background-color:#eee;
	width:80%;
}
.report_optional h3
{
	margin:0 0 15px 0;
	padding:0;
	font-size:130%;
	color:#999;
	font-weight:bold;
}
.report_comment{
	border:1px #ccc solid;
	margin-top:15px;
	padding:20px;
	background:#eee;
	clear:both;
	overflow:hidden;
}
.report_rating{
	margin:15px 0 0 10px;
	font-size:90%;
}
.report_rating div{
	float:left;
	margin-right:3px;
	
}
.rating_value{
	height:14px;
	font-weight:bold;
	text-align:center;
	background-color:#666;
	color:#fff;
	padding:0 4px 0 4px;
}
.rating_loading{
	margin:0 0 0 10px;
}
span.dots {
	width:17px;
	text-align:center;
	color:#404040;
	font-size:18px;
	font-weight:bold;
}
a.add,
a.rem{
	margin:3px 0 0 5px;
	text-indent:-3000px;
	overflow:hidden;
	width:13px;
	height:13px;
	float:left;
	background:url(../img/icon-plus.gif) no-repeat;
}
a.rem { background:url(../img/icon-minus.gif) no-repeat;}
.report_map{
	overflow:hidden;
	width:100%;
	border:2px solid #ccc;
	width:450px;
	height:300px;
}


/* View Reports / Help */
.report_rowtitle, .org_rowtitle{
	margin: 10px 0 5px 0;
	padding-bottom:3px;
	border-bottom:2px #000 solid;
	overflow:auto;
}
.report_col1,
.report_col2,
.report_col3,
.report_col4,
.report_col5{
	float:left;
	padding-right:15px;
}
.report_col1{
	width:85px;
}
.report_col2{
	width:425px;
}
.report_col3{
	width:85px;
	text-align:center;
}
.report_col4{
	width:105px;
	text-align:center;
}
.report_col5{
	width:105px;
	text-align:center;
}
.report_row1, .report_row2, .org_row1, .org_row2{
	clear:both;
	overflow:auto;
	margin:0 0 10px 0;
	padding:5px 0 5px 0;
}
.report_row1, .org_row1{
	background-color:#eee;
}
.report_row1 h3, .report_row2 h3, .org_row1 h3, .org_row2 h3{
	margin:0;
	padding:0;
	font-size:13px;
}
.org_row1, .org_row2{
	padding:5px;
}
.report_yes,
.report_no{
	font-weight:bold;
}
.report_yes{
	color:#009900;
}
.report_no{
	color:#990000;
}
.org_contact{
	border:1px #ccc solid;
	margin-top:15px;
	padding:10px;
	background:#eee;
	clear:both;
	overflow:hidden;
}
.org_contact_row{
	margin:0 0 15px 0;
	clear:both;
}
.org_contact h3{
	margin:0 0 5px 0;
	padding:0 0 3px 0;
	border-bottom:1px solid #ccc;
}
.org_contact h4{
	margin:0 0 5px 0;
	padding:0;
	font-weight:bold;
}

/*-- pager --*/
ul.pager {
	margin:0;
	padding:0 0 0 17px;
}
ul.pager li{
	display:inline;
	margin:0 6px 0 0;
	font-size:10px;
	font-weight:bold;
	color:#555;
	border:1px solid #bbb;
	float:left;
	list-style:none;
}
ul.pager li.first {
	padding:0 5px;
}
ul.pager li a{
	text-decoration:none;
	color:#555;
	padding:0 5px;

}
ul.pager li a:hover,
ul.pager li a.active {background:#f2f7fa;}

/*-----Accessible Slider CSS-----*/
.ui-slider {clear: both; top: 10px;}
.ui-slider  {
	text-decoration: none !important;
}
.ui-slider-tooltip {
	display: none;
}
.ui-slider-handle-active .ui-slider-tooltip {
	display: block;
	position: relative;
	top: -25px;
	text-align: center;
	padding: .2em;
	font-size: .9em;
	width: 8em;
	margin-left: -4em;
	text-decoration: none !important;
}
.ui-slider ol, .ui-slider li, .ui-slider dl, .ui-slider dd, .ui-slider dt {
	list-style: none;
	margin: 0;
	padding: 0;
}
.ui-slider ol, .ui-slider dl {
	position: relative;
	top: 1.3em;
	width: 100%;
}
.ui-slider dt {
	top: 1.5em;
	position: absolute;
	padding-top: .2em;
	text-align: center;
	border-bottom: 1px dotted #ddd;
	height: .7em;
	color: #999;
}
.ui-slider dt span {
	background: #fff;
	padding: 0 .5em;
}
.ui-slider li, .ui-slider dd {
	position: absolute;
	overflow: visible;
	color: #666;
}
.ui-slider li span.ui-slider-label, .ui-slider dd span.ui-slider-label {
	display: none;
}
.ui-slider li span.ui-slider-label-show, .ui-slider dd span.ui-slider-label-show {
	display: block;
}
.ui-slider span.ui-slider-tic {
	position: absolute;
	left: 0;
	height: .8em;
	top: -1.3em;
}
.ui-slider li span.ui-component-content, .ui-slider dd span.ui-component-content {
	border-right: 0;
	border-left-width: 1px;
	border-left-style: dotted;
	border-top: 0;
	border-bottom: 0;
}
.ui-slider .first .ui-slider-tic, .ui-slider .last .ui-slider-tic {
	display: none;
}
/* graph */
.graph-holder {
	overflow:hidden;
	width:573px;
	height:150px;
}
/* error/success */
.green-box {
	margin:10px 0 10px 0;
	padding:9px 0 8px;
	background:#d8f1d8;
	border:2px solid #a7d1a7;
	clear:both;
	overflow:hidden;
}
.red-box {
	margin:10px 0 10px 0;
	padding:9px 0 8px;
	background:#FFD8D9;
	border:2px solid #990000;
	clear:both;
	overflow:hidden;
}
.green-box h3, .red-box h3{
	margin:0;
	padding:0 0 0 15px; 
	font-size:14px;
	color:#555;
}
.alert_response, .thanks_msg {
	margin:10px 15px 10px 15px;
	border:2px #ccc solid;
	background-color:#fff;
	padding: 15px;
	font:14px/17px Arial, Helvetica, sans-serif;
}
.alert_confirm {
	margin:10px 0 0 0;
	padding:10px;
	border:1px #ccc solid;
	background-color:#FFFFCC;
}
.alert_confirm .label{
	margin-bottom:10px;
}
